PIT_GATEWAY_URL=ws://127.0.0.1:8765
PIT_TOOL_STATION_ID=main
PIT_CAMERA_DEVICE=0
PIT_CAMERA_WIDTH=1280
PIT_CAMERA_HEIGHT=720
PIT_CAMERA_FPS=30
PIT_SCAN_DEBOUNCE_SEC=2
PIT_CAMERA_RTMP_URL=rtmp://127.0.0.1:1935/dabai
PIT_CAMERA_RTMP_FPS=15
PIT_CAMERA_RTMP_BITRATE=1800k
